<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>락픽</title>
    <!-- 파비콘 세팅 -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/bootstrap-5.3.3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/scss/main.min.css?var=<?php echo time(); ?>">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!-- 헤더 영역 -->
    <div id="wrap">
        <header id="header">
            <h1><a href="">ㅠㅠ화이팅!!!<img src="" alt=""></a></h1>
        </header>
    </div>